<%= form_for(@profile, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Change your E-mail </h2>
 <%= f.fields_for :user do |builder| %>
 <div class="control-group">
  	<%= builder.label :email, :class => "control-label"  %>
  	<div class="controls">
  	 <%= builder.text_field :email %>
  	 </div>
 </div>
 <% end %>
 <%= f.submit "Update", :class => "btn btn-success" %>
  <%= f.fields_for :user do |builder| %>
 <div class="control-group">
  	<%= builder.label :password, :class => "control-label"  %>
  	<div class="controls">
  	 <%= builder.text_field :password, :required => true, :autofocus => true %>
  	 </div>
 </div>
  <div class="control-group">
  	<%= builder.label :password_confirmation, :class => "control-label"  %>
  	<div class="controls">
  	 <%= builder.text_field :password_confirmation, :required => true %>
  	 </div>
 </div>
  <% end %>
  <%= f.submit "Update", :class => "btn btn-success" %>

  
<% end %>
