<h1>Members</h1>
<div style="width:100%;">
<h2>Members Online</h2><!-- ruby code for those online here -->
<% @profiles.each do |profile| %>
	<div class="pfile">
	<p><%= link_to (profile) do %>
		<%= image_tag avatar_url(User) %><br />
	<%= profile.firstname.titleize %> <%= profile.lastname.titleize %> 
	<%end%></p>
	</div>
	
<% end %>
</div>
<br />
<div style="width:100%; clear:both;">
<h2>All Members</h2>
<% @profiles.each do |profile| %>
	<div class="pfile">
		
	<p><%= link_to (profile) do %>
	<%= image_tag avatar_url(User) %><br />
	<%= profile.firstname.titleize %> <%= profile.lastname .titleize%> 
	<% end %></p>
	</div>
<% end %>
</div>

<div style="clear:both;">
	<hr />
<% if current_user && current_user.admin == true %>  
<h2>List View</h2>

<table class=" table table-striped table-bordered table-hover" style="clear:both;">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>Mobile</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.firstname.titleize %></td>
    <td><%= profile.lastname.titleize %></td>
    <td><%= profile.address1 %></td>
    <td><%= profile.address2 %></td>
    <td><%= profile.city %></td>
    <td><%= profile.mobile %></td>
    <td><%= profile.user_id %></td>  
   	 	<td><%= link_to 'Show', profile %></td>
    	<td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    	<td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
	<% end %>
  </tr>
   <%else %>
   <span></span>
<% end %>
</table>

<br />
</div>

