<h1>Blog articles</h1>
<div class="span7">
<% @blogs.each do |blog|%>
<h2><%= link_to blog.title.titleize, blog %></h2>
<p><%= blog.body %></p>
<p>Tags: <%= raw blog.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')%></p>
<br />
<% end %>
<%= link_to 'New Blog Post', new_blog_path, :class => "btn btn-success" %>
<div class="apple_pagination">
<%= will_paginate @blogs %>
</div>
</div>
<div class="span3">
	<h2>Tag Cloud</h2>
<div id="tag_cloud">
  <% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</div>
