<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @conversation.title %>
</p>

<p>
  <b>Category:</b>
  <%= @conversation.category %>
</p>

<p>
  <b>Body:</b>
  <%= @conversation.body %>
</p>

<p>
  <b>Forum:</b>
  <%= @conversation.forum %>
</p>

<p>
  <b>User:</b>
  <%= @conversation.user %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
