<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :subarea %><br />
    <%= f.text_area :subarea %>
  </div>
   <div class="field">
    <%= f.label :date_from %><br />
    <%= f.date_select :date_from %>
  </div>
   <div class="field">
    <%= f.label :date_to %><br />
    <%= f.date_select :date_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
