<!DOCTYPE html>
<html lang="en">
<head>
  <title> Art Historia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
			<div class="container">
				<h1><%= link_to "Art Historia", root_path, :class => "brand pull-left" %></h1>
				<div class="navbar-header">
					<%= render 'layouts/nav'%> 
				</div>
			</div>
		</header>
		
		<main id="content" class="main">
			<div class="container">
				 <%= render partial: "layouts/flash_messages", flash: flash %> 
				 
				<%= yield %>
				<% if user_signed_in? %>
				<ul></ul>
				<% else %> 
				<aside id="mainside">
					<div>
				<h5>Login | Register</h5>
 				<p><%= link_to 'Register', new_user_registration_path %></p> 
 				<p><%= link_to 'Sign in', new_user_session_path %></p>
			<% end %>
					</div>
					
				</aside>
			</div>
		</main>
		</div><!--end of wrapper -->
		<hr />
		<footer id="foot" class="footer" role="content_info">
			<div class"container">
			<p>here is the footer</p>
			</div>
		</footer>


<%= javascript_include_tag "application" %>

</body>
</html>
